doctype html
html(lang='en')

    head

        //- CSS
        link(type='text/css', href=nimda.config.basePath + 'css/styles.css', rel='stylesheet')

        //- Meta
        meta(charset='utf-8')
        meta(name='fragment', content='!')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

        //- Mobile
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')

        //- Title
        title=nimda.schema.title

        //- Icons
        link(rel='shortcut icon', type='image/x-icon', href=nimda.config.basePath + 'assets/favicon.ico')

    body

        header

        .view(data-role='view')

        .overlay(data-role='overlay')

    script(type='text/javascript').

        window.NIMDA_CONFIG = {
            basePath: '!{ nimda.config.basePath || '/' }'
        };

        window.NIMDA_SCHEMA = !{ JSON.stringify(nimda.schema) };

    script(src=nimda.config.basePath + 'js/index.js', type='text/javascript')